@import "./t-normalize.css";

@font-face {
        font-family: "JacobCursive";
        src: url("fonts/JacobCursive.ttf") format("truetype");
        /* font-weight: normal; */
        /* font-style: normal; */
    }

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 39);
    font-size: 1rem;
    color: white;
}

header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}

.title {
    font-family: "JacobCursive";
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem 0;
    margin-bottom: -1px;
}

button:hover,
textarea:hover {
    &&:hover {
        background-color: rgba(240, 255, 255, 0.089);
        transition: 0.2s;
    }
}

button.project,
button#addProject {
    position: relative;
    background-color: rgb(0, 0, 39);
    font-size: 1.5rem;
    color: white;
    border: 1px solid white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.25rem 0.75rem;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    &&:hover {
        background-color: rgba(240, 255, 255, 0.274);
        transition: 0.2s;
    }
}

button#addProject {
    background-color: black;
}

button.project.active {
    background-color: rgb(30, 30, 54);
    border-bottom: 1px solid rgb(30, 30, 54);
}

#completed,
#notCompleted {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    overflow: hidden;
}

.completeTitle {
    grid-column-start: span 3;

    /* Prevents task overlap issue with small displays */
    @media (max-width: 500px) {
        grid-column: 1 / -1;
    }
}

#content {
    background-color: rgb(30, 30, 54);
    height: 95%;
}

/* Task element from project page */
#content > div#completed > div,
#content > div#notCompleted > div {
    display: grid;
    grid-template-columns: 0.3fr 3fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    background-color: rgb(20, 20, 54);
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;

    &&:hover {
        background-color: rgba(240, 255, 255, 0.089);
        transition: 0.2s;
    }
}

#content > div#notCompleted > div > p,
#content > div#notCompleted > div > h2,
#content > div#completed > div > p,
#content > div#completed > div > h2 {
    /* Prevents long desriptions from overflowing */
    overflow: hidden;
    white-space: nowrap;
}

.low {
    border-left: 3px solid rgba(0, 128, 0, 0.5);
}

.normal {
    border-left: 3px solid rgba(255, 255, 0, 0.5);
}

.high {
    border-left: 3px solid rgba(255, 0, 0, 0.5);
}

div > span {
    justify-self: right;
}

h1, h2 {
    font-size: 1.5rem;
}

h1 {
    padding: 0.5rem;
}

input[type="checkbox"] {
    grid-row-start: span 2;
    height: 1.5rem;
    align-self: center;
    margin-right: 1rem;
    cursor: pointer;
}

#task {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 54);
    padding: 0.5rem;
}

#sidebar > * {
    padding: 0.5rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    background: url("img/down-arrow.svg") no-repeat;
    background-size: 1rem;
    background-position: right 0.6rem center;
}

select, 
input:not([type="checkbox"]) {
    background-color: rgb(30, 30, 54);
    color: white;
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 1rem;
    overflow: hidden;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

button.task {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0 1rem 1rem;
    border: 1px solid white;
    background-color: rgb(30, 30, 54);
    color: white;
    font-weight: 600;

    &&:last-child {
        margin: 1rem;
    }
}

#projButtons {
    position: fixed;
    right: 0%;
    bottom: 0%;
}

#description {
    display: flex;
    flex-direction: column;
}

textarea {
    background-color: rgb(38, 38, 58);
    border: none;
    color: white;
    resize: none;
    border-radius: 1rem;
}

textarea.desc {
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    height: 100%;
}

textarea.taskTitle {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    field-sizing: content;
}

button > textarea {
    font-size: 1.25rem;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    field-sizing: content;
    margin-bottom: -0.3rem;
}

div.descButtonContainer {
    align-self: flex-end;
}
