@import "./normalize.css";

body {
    background-color: rgb(0, 0, 39);
    font-size: 1rem;
    color: white;
}

header {
    display: flex;
    border-bottom: 1px solid white;
}

.title {
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem;
    margin-bottom: -1px;
}

button.project {
    position: relative;
    background-color: rgb(0, 0, 39);
    font-size: 1.5rem;
    color: white;
    border: 1px solid white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.25rem 0.75rem;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: pointer;
    z-index: 1;
}

button.project.active {
    background-color: rgb(30, 30, 54);
    border-bottom: none;
}

#completed,
#notCompleted {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
}

#content {
    background-color: rgb(30, 30, 54);
}

#content > * > div {
    display: grid;
    grid-template-columns: 0.2fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(20, 20, 54);
    padding: 0.5rem 1rem;
}

.low {
    border-left: 3px solid rgba(0, 128, 0, 0.5);
}

.normal {
    border-left: 3px solid rgba(255, 255, 0, 0.5);
}

.high {
    border-left: 3px solid rgba(255, 0, 0, 0.5);
}

h1, h2 {
    font-size: 1.5rem;
}

h1 {
    padding: 0.5rem;
}

input[type="checkbox"] {
    grid-row-start: span 2;
    height: 1.5rem;
    align-self: center;
    margin-right: 1rem;
    cursor: pointer;
}